<h1> <%= @item.id ? "Edit Topic" : "Create Topic" %>  </h1>

<%= form_for [@department, @item] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, autofocus: true %>
  <br />

  <%= f.submit %>
<% end %>